[Desktop Entry]
Type=Application
Exec=env BWRAP_EXTRA="--bind /mnt/secure/data/gallery /home/user/gallery --bind /mnt/secure/data/personal/projects /home/user/projects" /mnt/secure/sandbox/sandbox.sh exec alpine media dbus-run-session kdenlive
Terminal=false
Name=Kdenlive
